<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="row navbar-header col-sm-12">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#controlPanel">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">Контрольна панель</div>
    </div>
    <div class="row collapse navbar-collapse" id="controlPanel">
      <app-filters></app-filters>
      <app-search></app-search>
    </div>
  </div>
</nav>
