<ul class="nav navbar-nav">
  <li class="form-inline">
    <label class="label">товар: </label>
    <select class="form-control input-sm" [(ngModel)]="selectedTovar"
            (change)="setTovarFilter()">
      <option [ngValue]="allTovari">{{allTovari.NAMET}}</option>
      <option *ngFor="let tovar of tovariList" [ngValue]="tovar">
        {{tovar.NAMET}}
      </option>
    </select>
  </li>
  <li class="form-inline form-group">
    <label class="label control-label">склад: </label>
    <input type="search" placeholder="номер складу" class="input-sm form-control"
           (keyup)="setSkladFilter()" [(ngModel)]="selectedSklad"/>
  </li>
  <li class="form-inline form-group">
    <label class="label control-label">&nbsp;</label>
    <button type="button" class="btn btn-sm btn-warning  input-sm form-control"
            (click)="removeFilters()"><span class="glyphicon glyphicon-remove"></span> </button>
  </li>
</ul>
